@model DepozytOpon.Models.Depozyt

<h2>Dodaj depozyt</h2>

<form method="post">
    <div class="mb-3">
        <label>Numer BOX</label>
        <input class="form-control" name="NumerBOX" />
    </div>

    <div class="mb-3">
        <label>Imię i nazwisko</label>
        <input class="form-control" name="ImieNazwisko" />
    </div>

    <div class="mb-3">
        <label>Numer telefonu</label>
        <input class="form-control" name="NumerTelefonu" />
    </div>

    <div class="mb-3">
        <label>Marka pojazdu</label>
        <input class="form-control" name="MarkaPojazdu" />
    </div>

    <div class="mb-3">
        <label>Rejestracja pojazdu</label>
        <input class="form-control" name="RejestracjaPojazdu" />
    </div>

    <div class="mb-3">
        <label>Opona</label>
        <select asp-for="OponaId"
                asp-items="ViewBag.Opony"
                class="form-control">
            <option value=""> </option>
        </select>
    </div>

    <div class="mb-3">
        <label>Ilość</label>
        <input type="number" class="form-control" name="Ilosc" />
    </div>

    <div class="mb-3">
        <label>Notatka</label>
        <textarea class="form-control" name="Notatka"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
    <a asp-action="Index" asp-controller="Depozyt" class="btn btn-secondary mt-3">Wstecz</a>
</form>
