@model DepozytOpon.Models.Depozyt

<h2>Edytuj depozyt</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="NumerBOX" class="form-label"></label>
        <input asp-for="NumerBOX" class="form-control" />
        <span asp-validation-for="NumerBOX" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImieNazwisko" class="form-label"></label>
        <input asp-for="ImieNazwisko" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="NumerTelefonu" class="form-label"></label>
        <input asp-for="NumerTelefonu" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="MarkaPojazdu" class="form-label"></label>
        <input asp-for="MarkaPojazdu" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="RejestracjaPojazdu" class="form-label"></label>
        <input asp-for="RejestracjaPojazdu" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="OponaId" class="form-label"></label>
        <select asp-for="OponaId"
                asp-items="ViewBag.Opony"
                class="form-control">
            <option value="">Kod produktu</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Ilosc" class="form-label"></label>
        <input asp-for="Ilosc" type="number" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Notatka" class="form-label"></label>
        <textarea asp-for="Notatka" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
    <a asp-action="Index" asp-controller="Depozyt" class="btn btn-secondary mt-3">Wstecz</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

